<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">

    {% set fieldKeys = [] %}
    {% for field,label in fields %}
        {% set fieldKeys = fieldKeys|merge([field]) %}
    {% endfor %}
    {% set fieldKeys = fieldKeys|join(',') %}

    <div class="input-group mb-3">
        <input class="form-control" type="search" value="{{ selectedValue }}" name="{{ filterValueName }}"
               placeholder="{{ 'filter_searchword'|trans({}, 'KnpPaginatorBundle') }}"/>
{#        <input type="hidden" name="{{ filterFieldName }}" value="{{ fieldKeys }}"/>#}
        <button class="btn btn-primary">
{#            <sapn class="bi bi-fw bi-funnel me-2"></sapn>#}
            {{ options.button }}
        </button>
    </div>
</form>
